<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a target='_blank' href="https://www.linkedin.com/in/batman-aman/" class="nav-link px-2 text-body-secondary">LinkedIn</a></li>
      <li class="nav-item"><a target='_blank' href="https://github.com/theBatm4n" class="nav-link px-2 text-body-secondary">GitHub</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2024 Batman, Inc</p>
  </footer>
</div>